@{
    ViewData["Title"] = "Submitted";
}

<div class="text-center mt-20 animate-bounce">
    <h2 class="text-green-600 text-3xl font-bold">✅ Your idea has been submitted!</h2>
    <p class="mt-4">Redirecting to home page...</p>
    <script>
        setTimeout(() => {
            window.location.href = "/Home/Index";
        }, 2000);
    </script>
</div>
